:root {
    --bg-color: #f8f9fa;
    --text-color: #212529;
    --card-bg: #ffffff;
    --card-border: #dee2e6;
}

body.dark-mode {
    --bg-color: #343a40;
    --text-color: #ffffff;
    --card-bg: #495057;
    --card-border: #6c757d;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.login-body {
    background-color: #343a40;
}

.login-body.container {
    background-color: #484f55;
}

.card {
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
}

.btn {
    transition: all 0.3s;
}

.btn-light {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.btn-dark {
    background-color: #343a40;
    border: 1px solid #495057;
}

.table-dark, .table-dark td, .table-dark th {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
}

#toggle-dark-mode {
    transition: all 1s;
}

.user-text {
    color: var(--text-color);
}

body.dark-mode .user-text {
    color: #ffffff;
}

.user-text {
    color: #ffffff;
}

.login-body {
    background-color: #212529;
}

.login-container .card {
    background-color: #343a40;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
}

.admin-container {
    max-width: 500px;
    margin: 50px auto;
}

body.dark-mode .admin-container .card {
    background-color: #343a40;
    color: #ffffff;
}

#toggle-dark-mode {
    transition: all 0.3s;
}